.hero {
  height: 80vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
  background: #f4f4f4;
}

.leftSection {
  height: 100%;
  width: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  padding: 1rem;
}

.leftSection h1 {
  line-height: 4.5rem;
  text-wrap: wrap;
  font-size: 3.5rem;
  font-weight: bolder;
  color: #3a6fb9;
  background-image: linear-gradient(
    45deg,
    #3a6fb9 37%,
    #f80068 62%,
    #1c9bec 80%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 2px 5px rgba(197, 47, 239, 0.2);
}

.leftSection span {
  font-size: 1.35rem;
  margin-bottom: 2rem;
  color: #3a434e;
}

.rightSection {
  width: 100%;
  max-width: 450px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin-right: 1rem;
}

.rightSection img {
  width: 100%;
  height: auto;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.rightSection img:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

.ctaSection {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

.aboutSection {
  height: 80vh;
  background: #f9f9f9;
  padding: 4rem 2rem;
}

.aboutTitle {
  font-size: 2rem;
  font-weight: bold;
  color: #3a6fb9;
  margin-bottom: 4rem;
  margin-left: 2rem;
}

.aboutPoints {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;
}

.point {
  height: 22rem;
  background: #fff;
  padding: 2rem;
  width: 250px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.point:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.icon {
  font-size: 3rem;
  color: #f80068;
  margin-bottom: 1rem;
}

.point h3 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #3a434e;
  margin-bottom: 1rem;
}

.point p {
  font-size: 1rem;
  color: #5a5a5a;
}
